.about-us {
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.about-us h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #9347d8;
}

.content {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  width: 70%;
}

.company-overview,
.our-mission,
.our-team {
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overview-image,
.mission-image {
  max-width: 500px;
  height: auto;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-us {
    padding: 1rem;
  }

  .about-us h2 {
    font-size: 2rem;
  }

  .about-us p {
    font-size: 1rem;
  }
}

.company-overview {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.content-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1281px) {
  .company-overview {
    max-width: 100% !important;
  }
}

@media (max-width: 700px) {

  .company-overview {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    gap: 40px;
  }

  .overview-image,
  .mission-image {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .our-team {
    display: flex;
    justify-content: start;
  }
  .our-team {
  }
  .text{
    display: flex;
    text-align: start;
    margin-right: none;
    width: 100%;
  }

}