/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}
.checkout-text   {
  font-size: 25px;
color:#9347d8;
font-weight: 700;}

.checkout {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.checkout-products,
.customer-details,
.payment-method {
  margin-bottom: 20px;
}

.deliverydate {
  color: #27ae60;
  font-weight: bold;
}

.checkout-product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.checkout-product img {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 4px;
}

.checkout-product p {
  margin: 0;
  line-height: 1.5;
}

.price {
  color: #e74c3c;
  font-weight: bold;
}

.checkout-prices {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: #27ae60;
}

.customer-details {
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.customer-details h3 {
  margin-bottom: 10px;
  color: #000000; /* Title color */
}

.customer-details p {
  margin: 5px 0;
  line-height: 1.5;
}

.payment-method h3 {
  margin-bottom: 10px;
  color: #000000; /* Title color */
}

.payment-method label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.payment-method input[type="radio"] {
  margin-right: 10px;
}

.card-details input,
.paypal-details input,
.bank-details input,
.customer-details textarea {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #2980b9;
}

.checkbox {
  display: flex;
  gap: 10px;
}


@media (max-width: 768px) {
.checkout-product{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.checkout-product img {
max-width: 100%;
margin-bottom: 15px;
}
button {
  padding: 10px !important;
  border-radius: 5px !important;
  background: #9347d8 !important;
  color: white !important;
}
.checkout-text {
  display: flex;
  margin-bottom: 20px;
  font-size: 35px;
}
}
