.home {
  padding: 1rem;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #9347d8;
}

.home p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

.home-image {
  max-width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  object-fit: contain;
}

.intro,
.featured-products,
.testimonials {
  margin-bottom: 2rem;
}

.intro h2,
.featured-products h2,
.testimonials h2 {
  color: #9347d8;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  width: 100%;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
}

.product-price {
  font-weight: bold;
  color: #9347d8;
}

.testimonials {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial {
  margin: 1rem 0;
}

.testimonial p {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.testimonial span {
  display: block;
  font-weight: bold;
}

.intro {
  padding: 10px 0;
  background: #f7f7f7;
}

.intro-content {
  display: flex !important;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.intro-content img {
  height: 300px;
  width: 500px !important;
}

.intro-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.intro-text {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.intro-text p {
  line-height: 1.5;
}

.featured-products h2 {
  text-align: center;
}

.tagline {
  font-size: 1.2rem;
  color: #555;
  margin: 1rem 0;
}

.shop-now-button {
  background-color: #9347d8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
}

.shop-now-button:hover {
  background-color: #7b39b2;
}

.intro-text h2,
.featured-products h2,
.testimonials h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-grid h3 {
  color: #9347d8 !important;
  font-weight: 600;
}

@media (max-width: 568px) {
  .intro-content {
    display: flex !important;
    align-items: start !important;
    flex-direction: column;
    gap: 40px !important;
  }
  .intro-text {
    display: flex;
    text-align: start !important;
  }

  .home {
    padding: 0rem;
  }

  .intro {
    display: flex;
  }

  .intro-image {
    height: 200px !important;
  }

  .home-image {
    height: 100px !important;
    margin-bottom: 0;
    object-fit: fill;
  }

  .home p{
   margin-bottom: 3px;
  }
}