.products {
  padding: 2rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products {
  padding: 2rem;
}
@media (max-width: 700px) {
  .products {
    margin-top: 2rem;
    padding: 0;
  }
}