.product-card {
  border: 1px solid #ddd;
  margin: 1rem;
  text-align: left;
  width: calc(25% - 2rem); /* Default: 4 columns on large screens */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Added for better separation */
  border-radius: 8px; /* Optional: Rounded corners */
  overflow: hidden; /* Ensures rounded corners work on images */
}

.products h1 {
  color: #9347d8;
  font-size: 25px;
  font-weight: 700;
}

.product-card img {
  height: 305px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: block; /* Ensure the image displays properly */
  width: 100%; /* Full width to fit the card */
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.product-card .description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.product-card .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #9347d8;
  padding-bottom: 10px;
}

.product-card button {
  background-color: #9347d8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px; /* Optional: Rounded button corners */
}

.product-card button:hover {
  background-color: #6f2da8;
}

@media only screen and (max-width: 1280px) {
  .product-card {
    width: calc(45% - 2rem); /* 2 columns on medium screens */
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    width: calc(100% - 2rem); /* Single column on small screens */
  }
}

@media only screen and (min-width: 500px) {
  .intro-content {
    display: flex;
    align-items: start;
  }
  .intro-content img {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .intro-content {
    display: block; /* Stack content on small screens */
  }

  .intro-content img {
    width: 100%; /* Full width for the image on small screens */
    margin-bottom: 1rem; /* Space between image and text */
  }
}


@media (min-width: 1310px) and (max-width: 1638px) {
  .product-card {
  width: calc(32% - 2rem);
  
  }
}
